/resources/**/1.txt
/resources/**/2.txt
/resources/**/3.txt
/resources/**/4.txt
/resources/**/5.txt
/resources/**/6.txt
/resources/**/7.txt
/resources/**/8.txt
/resources/**/9.txt
/resources/**/10.txt